<div class="container-register">
  <mat-card class="example-card mt-2" style="display: flex; flex-direction: column">
    <mat-card-header style="justify-content: center">
      <mat-card-title>Créer son compte</mat-card-title>
    </mat-card-header>
    <mat-card-content style="margin-bottom: 0">
      <form *ngIf="!isSuccessful" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <mat-form-field appearance="standard" style="display: block">
            <mat-label for="lastname">Nom</mat-label>
            <input matInput type="text" formControlName="lastname" [(ngModel)]="form.lastname" required minlength="3" />
            <mat-icon matSuffix>fa-solid fa-at</mat-icon>
            <mat-error style="font-size: 1rem">Nom invalide (au moins 3 charatères)</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="standard" style="display: block">
            <mat-label for="name">Prénom</mat-label>
            <input matInput type="text" formControlName="name" [(ngModel)]="form.name" required minlength="3" />
            <mat-icon matSuffix>fa-solid fa-at</mat-icon>
            <mat-error style="font-size: 1rem">Prénom invalide (au moins 3 charatères)</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="standard" style="display: block">
            <mat-label for="email">Email</mat-label>
            <input matInput type="text" formControlName="email" [(ngModel)]="form.email" required email />
            <mat-icon matSuffix>fa-solid fa-at</mat-icon>
            <mat-error style="font-size: 1rem">Email invalide</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="standard" style="display: block">
            <mat-label for="password">Mot de passe</mat-label>
            <input
              matInput
              type="password"
              formControlName="password"
              [(ngModel)]="form.password"
              required
              minlength="6"
            />
            <mat-icon matSuffix>fa-solid fa-at</mat-icon>
            <mat-error style="font-size: 1rem">Mot de passe invalide</mat-error>
          </mat-form-field>
        </div>

        <div class="alert alert-warning" *ngIf="isSignUpFailed">Echec de l'inscription !<br />{{ errorMessage }}</div>
        <div class="form-group" style="text-align: center">
          <button mat-raised-button color="primary">S'inscrire</button>
        </div>
      </form>
    </mat-card-content>
    <mat-divider style="position: relative"></mat-divider>
    <button class="login-button" mat-raised-button color="primary" (click)="router.navigate(['/login'])">
      J'ai déjà un compte
    </button>
  </mat-card>
</div>
