.container-register {
  width: 33vw;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

* {
  font-size: 1.4rem;
}

.example-card {
  padding: 3rem;
}

.mat-divider {
  margin: 1rem;
}

.login-button {
  width: max-content;
  align-self: center;
}
