<div id="app" style="height: 100vh">
  <mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    <span>Caisse Noire</span>
  </mat-toolbar>
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
      <img class="avatar mat-elevation-z8" src="../assets/images/149071.png" />

      <div *ngIf="user">
        <h4 class="name">{{ user.lastname }}</h4>
        <p class="designation">{{ user.username }}</p>
      </div>

      <mat-divider></mat-divider>
      <mat-nav-list>
        <a href="/home" class="nav-link" routerLink="home">Accueil </a>

        <a *ngIf="showAdminBoard" href="/admin" class="nav-link" routerLink="admin">Admin Board</a>

        <a *ngIf="showModeratorBoard" href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
      </mat-nav-list>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" *ngIf="user; else login">
        <mat-icon>power_settings_new</mat-icon>
        <span>Se déconnecter</span>
      </button>
      <ng-template #login>
        <button mat-button class="menu-button">
          <mat-icon>person</mat-icon>
          <span>Se connecter</span>
        </button>
      </ng-template>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <!-- <div class="container">
    <router-outlet></router-outlet>
  </div> -->
</div>
