<div class="container-login">
  <mat-card class="example-card mt-2" style="display: flex; flex-direction: column">
    <mat-card-header style="justify-content: center">
      <mat-card-title>Se connecter</mat-card-title>
    </mat-card-header>
    <mat-card-content style="margin-bottom: 0">
      <form *ngIf="!isLoggedIn" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <div class="form-group">
          <mat-form-field appearance="standard" style="display: block">
            <mat-label for="email">Adresse mail</mat-label>
            <input matInput type="text" formControlName="email" [(ngModel)]="loginForm.email" required />
            <mat-icon matSuffix>fa-solid fa-at</mat-icon>
            <mat-error style="font-size: 1rem">Mail invalide</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="standard" style="display: block">
            <mat-label for="password">Mot de passe</mat-label>
            <input
              matInput
              type="password"
              formControlName="password"
              [(ngModel)]="loginForm.password"
              required
              minlength="6"
            />
            <mat-icon matSuffix>fa-solid fa-at</mat-icon>
            <mat-error style="font-size: 1rem">Mot de passe invalide</mat-error>
          </mat-form-field>
        </div>

        <div class="form-group my-2">
          <div class="alert alert-danger" role="alert" *ngIf="isLoginFailed">Login failed: {{ errorMessage }}</div>
        </div>
        <div class="form-group" style="text-align: center">
          <button mat-raised-button color="primary">Connexion</button>
        </div>
      </form>
    </mat-card-content>
    <mat-divider style="position: relative"></mat-divider>
    <button class="create-account-button" mat-raised-button color="primary" (click)="router.navigate(['/register'])">
      Créer un compte
    </button>
  </mat-card>
</div>
