<div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h3 class="text-center">
      <strong>{{ currentUser.username }}</strong> Profile
    </h3>
  </header>
  <p>
    <strong>Nom:</strong>
    {{ currentUser.lastname }}
  </p>
  <p>
    <strong>Prénom:</strong>
    {{ currentUser.username }}
  </p>
  <p>
    <strong>Email:</strong>
    {{ currentUser.email }}
  </p>
  <strong>Roles:</strong>
  <ul>
    <li *ngFor="let role of currentUser.roles">
      {{ role }}
    </li>
  </ul>
  <select name="roles" id="roles">
    <option *ngFor="let role of currentUser.roles" value="role">{{role}}</option>
  </select>
</div>
<ng-template #loggedOut>
  Please login.
</ng-template>
